swagger: '2.0'
info:
  title: San Fransisco Bar Location Service
  description: 2018 Summit Lab -  Bar Location Service
  version: 1.0.0
host: 'sfbarlocation-2445581558442.production.gw.apicast.io'
schemes:
  - https
paths:
  /sflocation/bar/all/:
    get:
      tags:
        - bar      
      summary: Get all Bar locations
      description: Get all Bar locations in San Fransisco
      parameters:
        - name: user_key
          in: query
          description: API Key
          required: true
          type: string
      responses:
        '200':
          description: Bar Found
          schema:
            $ref: '#/definitions/barlocation'
          examples: {}
  '/sflocation/bar/favdrink/{drinktype}/':
    get:
      tags:
        - bar 
      summary: Get Bar locations base on drink type
      description: Get Bar locations base on drink type in San Fransisco
      parameters:
        - name: user_key
          in: query
          description: API Key
          required: true
          type: string
      responses:
        '200':
          description: Bar Found
          schema:
            $ref: '#/definitions/barlocation'
          examples: {}
    parameters:
      - name: drinktype
        in: path
        description: Types of Drink you like.
        required: true
        type: string
  '/sflocation/bar/music/{musictype}/':
    get:
      tags:
        - bar 
      summary: Get Bar locations base on music type
      description: Get Bar locations base on music type in San Fransisco
      parameters:
        - name: user_key
          in: query
          description: API Key
          required: true
          type: string
      responses:
        '200':
          description: Bar Found
          schema:
            $ref: '#/definitions/barlocation'
    parameters:
      - name: musictype
        in: path
        description: Type of music of your choice
        required: true
        type: string
  '/sflocation/bar/rating/{rate}/':
    get:
      tags:
        - bar 
      description: Get Bar locations base on rating in San Fransisco
      parameters:
        - name: user_key
          in: query
          description: API Key
          required: true
          type: string
      responses:
        '200':
          description: Bar Found
          schema:
            $ref: '#/definitions/barlocation'
    parameters:
      - name: rate
        in: path
        description: Minium Rating
        required: true
        type: string
definitions:
  barlocation:
    title: Root Type for barlocation
    description: The root of the barlocation type's schema.
    type: array
    items:
      type: object
      properties:
        ID:
          type: string
        BARNAME:
          type: string
        ADDRESS:
          type: string
        LAT:
          format: double
          type: number
        LNG:
          format: double
          type: number
        PIC:
          type: string
