.DS_Store

**/*.iml

*.class
*.jar
*.war
*.ear
*.iml
*.iws
*.ipr

.syndesis-env
.syndesis-cookies

atlassian-ide-plugin.xml

.tm_*
.classpath
.project
.settings/
.idea/
.gradle/
.vscode/
classes/
build/
build-gradle/
./log/
logs/
target/
data/
out/
