127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{{ ansible_eth0.ipv4.address }} openshift.local
{{ ansible_eth0.ipv4.address }} tmpsso-demo.paas.local
{{ ansible_eth0.ipv4.address }} secure-tmpsso-demo.paas.local
{{ ansible_eth0.ipv4.address }} sso-demo.paas.local
{{ ansible_eth0.ipv4.address }} db-demo.paas.local
{{ ansible_eth0.ipv4.address }} saml-demo.paas.local
{{ ansible_eth0.ipv4.address }} oidc-demo.paas.local
